body {
	background-color:#2e3135;
}
 


 h1{
 	
 	text-align: center;
 	letter-spacing: 5px;
 	margin-top: 200px;
 	font-family: Helvetica;
 	font-size: 40px;
 	color:white;
 	text-decoration: none;
 	line-height: 10px;
 }

 h3{
 	text-align: center;
 	letter-spacing: 5px;
 	font-family: Helvetica;
 	font-size: 24px;
 	color:#c2c3c4;
 }

 h3:hover{
 	color:#ffd20a;
 	font-size: 30px;
 }

 a{
 	font-family: helvetica;
 	color:#c2c3c4;
 	font-size: 16px;
 	margin-left: 560px;
 	text-align: center;
 	letter-spacing: 5px;
 	text-decoration: none;
 	line-height: 60px;
 }

 a:hover{
 	color:red;
 	text-align: center;
 	margin-left: 600px;
 }

 h4{
 	font-family:helvetica;
 	margin-left:650px;
 	color:#c2c3c4;
 	letter-spacing: 5px;
 	text-decoration: none;
 	line-height: 5px;

 }
 h4:hover{
 	font-family:helvetica;
 	font-size: 20px;
 	margin-left: 650px;
 	color:#7cc6ff;
 	letter-spacing: 5px;
 	text-decoration: none;
 	line-height:5px;

 }