body {
	background-color:#f9e5c7;
}


 h1{
 	
 	text-align: left;
 	letter-spacing: 1px;
 	margin-top: 200px;
 	margin-left: 100px;
 	font-family: Helvetica;
 	font-size: 40px;
 	color:white;
 }

 h3{
 	text-align: left;
 	letter-spacing: 5px;
 	margin-left: 100px;
 	font-family: Helvetica;
 	font-size: 20px;
 	color:white;
 }

 h3:hover{
 	color: black;
 }

 a{
 	text-align:right;
 	font-family: helvetica;
 	color:white;
 	margin-left:120px;
 }

 a:hover{
 	color:black;
 }

 h4{
 	font-family:helvetica;
 	margin-left:150px;
 	color:white;
 

 }