html{
cursor: url('../images/cursor 2.png'), auto;
}

.text3{
  letter-spacing: 3px;
  position:absolute;
  z-index:60px;
  top:8px;
  font-family: Avenir;
  font-weight: bold;
}

.text3 span{
  letter-spacing:0px;
  font-weight:normal;
  font-size: 13px;
  
}
.text4{
  font-family: helvetica;
  font-size: 30px;
  font-weight:bolder;
   margin-left: -19px;
   z-index:30;
   margin-top:-400px;
   text-decoration:none;
   color:black;
   cursor: url('../images/cursor 1.png'), auto;
}
a.text4:hover{
  color:#ffdd02;
  background-color: transparent;
  text-decoration:none;
  cursor:url('../images/cursor 1.png'),auto;
}
.text5{
  font-family: helvetica;
  font-size: 30px;
  font-weight:bolder;
   margin-left:60px;
   z-index:30;
   margin-top:-400px;
   text-decoration:none;
   color:black;
   cursor: url('../images/cursor 1.png'), auto;
}
a.text5:hover{
  color:#ffdd02;
  background-color: transparent;
  text-decoration:none;
  cursor:url('../images/cursor 1.png'),auto;
}
.text{
	width:400px;
	height:19px;
	font-family: helvetica;
	font-size:38px;
	margin-left: 560px;
	margin-top:367px;
	line-height: 1px;
	font-weight:bolder;

  z-index:20;
	

}

.text2{
	font-family: helvetica;
	font-size: 20px;
	margin-left:564px;
  font-weight: bolder;
	color:white;
	line-height: 12px;
  z-index: 0;
  position:absolute;
  cursor: url('../images/cursor 1.png'), auto;
}


/*

.images{
	width:10px;
	height:10px;
	margin-left:930px;
	margin-top:-200px;
	position:absolute;
}

.images img:last-child{display:none}
.images:hover img:first-child{display:none}
.images:hover img:last-child{display:inline-block}
*/



.hand{
    width:1250px;
    height:700px;
    margin-top: -320px;
    margin-right:0px;
    margin-left:0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right:159px;
    z-index: -1;
    position:absolute;


}
.hand a {
    display: inline-block;
    vertical-align: middle;
}

.hand img {
  border: 0;
  padding-right: 20px;
  white-space:nowrap;
}

.hand2{
    width:1290px;
    height:380px;
    margin-top: -13px;
    margin-right:0px;
    margin-left:0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position:absolute;
    z-index:10;
    direction:rtl;
    padding-left: 159px;
    cursor:url('../images/cursor 1.png'),auto;

}
.hand2 a {
    display: inline-block;
    vertical-align: middle;
}

.hand2 img {
  border: 0;
  padding-right: 20px;
  white-space:nowrap;
}

.image1{
  position:absolute;
  z-index:30;
  top:30px;
  margin-left: -2300px;

}
.image1:hover {
    cursor:url('../images/trace-01.png'),auto;

}
.image2{
  position:absolute;
  z-index:30;
  top:30px;
  margin-left: -2077px;
}
.image2:hover {
    cursor:url('../images/trace-02.png'),auto;

}

.image3{
  position:absolute;
  z-index:30;
  top:30px;
  margin-left: -1852px;
}
.image3:hover {
    cursor:url('../images/trace-01.png'),auto;

}
.image4{
  position:absolute;
  z-index:30;
  top:30px;
  margin-left: -1532px;
}
.image4:hover {
    cursor:url('../images/trace-02.png'),auto;

}
.image5{
  position:absolute;
  z-index:30;
  top:30px;
  margin-left: -1308px;
}
.image5:hover {
    cursor:url('../images/trace-01.png'),auto;

}
.image6{
  position:absolute;
  z-index:30;
  top:30px;
  margin-left: -1013px;
}
.image6:hover {
    cursor:url('../images/trace-02.png'),auto;

}  
.image7{
  position:absolute;
  z-index:30;
  top:30px;
  margin-left: -788px;
}
.image7:hover {
    cursor:url('../images/trace-01.png'),auto;

}  
.image8{
  position:absolute;
  z-index:30;
  top:30px;
  margin-left: -579px;
}
.image8:hover {
    cursor:url('../images/trace-02.png'),auto;
} 
.image9{
  position:absolute;
  z-index:30;
  top:30px;
  margin-left: -359px;
}
.image9:hover {
    cursor:url('../images/trace-01.png'),auto;
} 
.image10{
  position:absolute;
  z-index:30;
  top:19px;
  margin-right: -2170px;
}
.image10:hover {
    cursor:url('../images/trace-04.png'),auto;
}

.image11{
  position:absolute;
  z-index:30;
  top:19px;
  margin-right: -1926px;
}
.image11:hover {
    cursor:url('../images/trace-03.png'),auto;
}

.image12{
  position:absolute;
  z-index:30;
  top:19px;
  margin-right: -1622px;
}
.image12:hover {
    cursor:url('../images/trace-04.png'),auto;
}

.image13{
  position:absolute;
  z-index:30;
  top:19px;
  margin-right: -1322px;
}
.image13:hover {
    cursor:url('../images/trace-03.png'),auto;
}

.image14{
  position:absolute;
  z-index:30;
  top:19px;
  margin-right: -952px;
}
.image14:hover {
    cursor:url('../images/trace-04.png'),auto;
}
.image15{
  position:absolute;
  z-index:30;
  top:19px;
  margin-right: -665px;
}
.image15:hover {
    cursor:url('../images/trace-03.png'),auto;
}

.image16{
  position:absolute;
  z-index:30;
  top:19px;
  margin-right: -295px;
}
.image16:hover {
    cursor:url('../images/trace-04.png'),auto;
}


