* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

#shape{
	display:block;
	height:100px;
	width:100px;
	background-color:blue;
}